.app-note-task {}

.app-note-task__input {
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
}

.app-note-task__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.app-note-task__button_disabled {
    opacity: 0.5;
    pointer-events: none;
}

.app-note-task__button:hover {
    background-color: #FEE490;
}
