.app-note {
    padding: 20px;
}

.app-note__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-note__title, .app-note__input {
    font-size: 1.3em;
    font-weight: bold;
}

.app-note__input {
    border: none;
    border-bottom: 1px solid black;
}

.app-note__textarea {
    font-size: 16px;
    width: 100%;
}
