.note {
    width: 100%;
    position: relative;
    padding: 20px;
}

pre {
    white-space: pre-line;
}

.note__empty-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.note__title, .note__text {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.note__title {
    margin-bottom: 10px;
}

.note__switch {
    position: sticky;
    height: max-content;
    top: 5px;
    margin-top: 5px;
    color: black;
    filter: opacity(0.5);
    transition: filter .2s;
}

.note__switch:hover {
    filter: opacity(1);
}

.note__title, .note__input {
    font-size: 1.3em;
    font-weight: bold;
}

.note__input {
    border: none;
    border-bottom: 1px solid black;
}

.note__textarea {
    font-size: 16px;
    width: 100%;
}
