.app-note-text-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

pre {
    white-space: pre-line;
}

.app-note-text-field_title {
    margin-bottom: 10px;
}

.app-note-text-field__switch {
    position: sticky;
    height: max-content;
    top: 5px;
    margin-top: 5px;
    color: black;
    filter: opacity(0.5);
    transition: filter .2s;
}

.app-note-text-field__switch:hover {
    filter: opacity(1);
}

.app-note-text-field_title, .app-note-text-field__input {
    font-size: 1.3em;
    font-weight: bold;
}

.app-note-text-field__input {
    border: none;
    border-bottom: 1px solid black;
}

.app-note-text-field__textarea {
    font-size: 16px;
    width: 100%;
}
